<div class="nav-links">
    <ul class="navbar-nav">
        {{#each data.links}}
        <li class="nav-item">
        <a class="nav-link" href="{{this.url}}">{{this.label}}</a>
        </li>
        {{/each}}
    </ul>
</div>